body {
  font-family: "Righteous", cursive;
}

h1 {
  color: white;
  text-align: center;
  font-size: 30px;
}

.dashboard {
  background-image: linear-gradient(
    to right top,
    #ff0000,
    #ff0000,
    #0000ff,
    #ffb800,
    #ffde00
  );
}

.navbar-menu {
  background-image: linear-gradient(to bottom right, red, blue);
}

.hero-image {
  background-image: url("https://camo.githubusercontent.com/90f24316b24433bf0a2778d95ca93ad264093645a71d2eb9f569cdbc34fbfc6d/68747470733a2f2f6372797374616c2d63646e322e6372797374616c636f6d6d657263652e636f6d2f70686f746f732f363333303536352f73706c61736842616e6e65725f706f6b656d6f6e2e6a7067");

  /* Setting height */
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hide {
  display: none;
}

#modal-meme {
  height: 800px;
  width: 800px;
}

#pokemon-menu {
  margin-left: 20px;
}

.custom-adjust {
  margin-top: 20px;
}

.pika {
  background-image: url("https://c.tenor.com/W4NJYyrjU24AAAAC/pikachu-meme.gif");
  background-size: 50vh;
}

#pokeTitle {
  margin-top: 20px;
}

.type {
  width: 67px;
  margin: 2px;
  padding: 5px 8px;
  display: inline-block;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 13px;
  font-family: "helvetica neue", Helvetica, Verdana, sans-serif;
  color: #fff;
  background-color: #68a090;
  border: 1px solid #44685e;
}

.normal {
  background-color: #a8a878;
  border: 1px solid #6d6d4e;
}

.fire {
  background-color: #f08030;
  border: 1px solid #9c531f;
}

.water {
  background-color: #6890f0;
  border: 1px solid #445e9c;
}

.electric {
  background-color: #f8d030;
  border: 1px solid #a1871f;
}

.grass {
  background-color: #78c850;
  border: 1px solid #4e8234;
}

.ice {
  background-color: #98d8d8;
  border: 1px solid #638d8d;
}

.ground {
  background-color: #e0c068;
  border: 1px solid #927d44;
}

.flying {
  background-color: #a890f0;
  border: 1px solid #6d5e9c;
}

.ghost {
  background-color: #705898;
  border: 1px solid #493963;
}

.rock {
  background-color: #b8a038;
  border: 1px solid #786824;
}

.fighting {
  background-color: #c03028;
  border: 1px solid #7d1f1a;
}

.poison {
  background-color: #a040a0;
  border: 1px solid #682a68;
}

.psychic {
  background-color: #f85888;
  border: 1px solid #a13959;
}

.bug {
  background-color: #a8b820;
  border: 1px solid #6d7815;
}

.dark {
  background-color: #705848;
  border: 1px solid #49392f;
}

.steel {
  background-color: #b8b8d0;
  border: 1px solid #787887;
}

.dragon {
  background-color: #7038f8;
  border: 1px solid #4924a1;
}

.fairy {
  background-color: #f041b6;
  border: 1px solid #9e3074;
}

@media screen and (max-width: 768px) {
  #pokemon-menu {
    margin: 0 15px;
  }

  .custom-adjust {
    margin-top: 0px;
  }

  .field {
    padding-bottom: 0px;
  }
}

.currentDay {
  text-align: center;
}

.media {
  margin: 2px;
}
